.space-1 {
  width: 100%;
  height: 1rem;
  display: block;
}

.space-2 {
  width: 100%;
  height: 2rem;
  display: block;
}

.space-3 {
  width: 100%;
  height: 3rem;
  display: block;
}

.space-4 {
  width: 100%;
  height: 4rem;
  display: block;
}

.space-5 {
  width: 100%;
  height: 5rem;
  display: block;
}

.space-6 {
  width: 100%;
  height: 6rem;
  display: block;
}

.space-7 {
  width: 100%;
  height: 7rem;
  display: block;
}

.space-8 {
  width: 100%;
  height: 8rem;
  display: block;
}

.space-9 {
  width: 100%;
  height: 9rem;
  display: block;
}
